body {
  background-color: #fefefe;
}
h1 {
  color: blueviolet;
}
h2 {
  color: #1460aa;
}
section {
  background: rgb(213, 213, 243);
}
//p {
  background: rgb(250, 174, 147);
}
.czerwony{
  color: red;
}
#szkolenie{
  color: blue;
}

h3{
  color: rgb(230, 158, 193) !important;
}

a{
  color: green;
}
section a {
  color: orange;
}

.my_article p {
  background-color: yellow;
}